<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.example.myProject.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.example.myProject.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	


	<servlet>
		<servlet-name>LoginForm</servlet-name>
		<servlet-class>com.example.myProject.LoginForm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginForm</servlet-name>
		<url-pattern>/loginform</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginForm</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.example.myProject.Register</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ProjectList</servlet-name>
		<servlet-class>com.example.myProject.ProjectList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectList</servlet-name>
		<url-pattern>/projectlist</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ProjectCreate</servlet-name>
		<servlet-class>com.example.myProject.ProjectCreate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectCreate</servlet-name>
		<url-pattern>/projectcreate</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>ProjectUpload</servlet-name>
		<servlet-class>com.example.myProject.ProjectUpload</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectUpload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	
</web-app>